<!DOCTYPE html>
<html>
<head>
  <title>LoginRegDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<p><a href="/sessions" data-method="delete">Logout</a></p>
<% end %>
<% if flash[:messages] %>
	<% flash[:messages].each do |m| %>
		<p><%= m %></p>
	<% end %>
<% end %>
<%= yield %>

</body>
</html>
